<div class="section" id="about-us">

  <h1> About Us </h1>
  <span class="headerLine"></span>

  <div class="team-container">

  <div class="team-member">
     <img class="team-photo" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
     <h3>Kelvin Tan</h3>
     <span>Team Leader</span>
   </div>


   <!-- member-->
   <div class="team-member">
   <img class="team-photo" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
     <h3>Shi Hao</h3>
     <span>Team Member</span>
   </div>


   <!-- member-->
   <div class="team-member">
   <img class="team-photo" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
     <h3>Alex Wong</h3>
     <span>Team Member</span>
   </div>



   <!-- member-->
   <div class="team-member">
   <img class="team-photo" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
     <h3>Nurul Huda</h3>
     <span>Team Member</span>
   </div>

   <!-- member-->
   <div class="team-member">
   <img class="team-photo" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
     <h3>Shamim Bhaghat</h3>
     <span>Team Member</span>
   </div>


</div>


   <div style="clear:both;"></div>

   <br/><br/>


</div>
