<!-- Header -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>How It Works</h1>
                    <h3>Long busy days at work, no time to go shopping? Want to eat home cooked meals? We have you covered!</h3>
                    <hr class="intro-divider">

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Steps to making shopping passé and fresh home-cooked meals a reality!</h2>
                <p class="lead">
                    Look no further than Mealbox.</p>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">1</div>
                    </div>
                    <h3 >Sign Up</h3>
                    <p>
                      Signing up is easy and it's free. Moreover, you do not need an account to view our pre-designed starter meal plans.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">2</div>
                    </div>
                    <h3>Choose Meals</h3>
                    <p>
                      After you have completed the sign up formalities, you are ready to order the things you need for your week's grub. Proceed to build your meal plan or pay as you go. Meal Plans are billed weekly.
                    </p>
                    <p>
                      You are given the option of up to three meals per day with a minimum of four meals in any one week. That's right we give you recipes and ingredients for your breakfast,lunch and dinner.
                    </p>
                </div>

                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">3</div>
                    </div>
                    <h3>Get your Meal Box.</h3>
                    <p>
                        Our delivery concierge will deliver your weekly Meal Box in two hours within your order.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">4</div>
                    </div>
                    <h3>Cook awesome, healthy food!</h3>
                    <p>
                        After you sign off your goods, you are set for your week's meals for your entire family....and you didnt have to stand one minute at the checkout line!
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<!-- content-section-a -->

<div class="section" id="be-your-own-chef">
  <h1> Our Meal Plans </h1>
  <span class="headerLine"></span>

  <div class="content-section-a">

      <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
              <div class="clearfix"></div>
              <p class="lead">
                  We have a meal plan for every need and budget.</p>
              <dl>
                  <dt>Flexible Subscriptions</dt>
                  <dd>We offer pay as you go weekly meal plans to annual memberships.</dd>
              </dl>
              <dl>
                  <dt>Fits your schedule</dt>
                  <dd>We at Mealbox realise how busy the 21st century adult (and child) is. That's why we are here DUH.
                  </dd>
              </dl>
              <dl>
                  <dt>Power to ya</dt>
                  <dd>You heard that right! At MealBox, you yield the power to select one of our starter meal plans and design a meal plan of your own.
                  </dd>
              </dl>

          </div>

          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
              <img class="img-responsive" src="http://c2.sharnyandjulius.com/wp-content/uploads/2015/11/customised-meal-plan-907x510.jpg" alt="">
          </div>
      </div>

  </div>
  <!-- /.content-section-a -->
</div>

<div class="section" id="be-your-own-chef">
  <h1> Be Your Own Chef </h1>
  <span class="headerLine"></span>

  <div class="content-section-b">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <div class="clearfix"></div>
                  <p class="lead">Choose a dish from an array of cuisines, namely Chinese, Malay, Indian and Western.</p>
                  <dl>
                      <dt>Option to create your own recipe.</dt>
                      <dd>While we do have pre-designed starter meal plans, with a wide variety of ingredients at your disposal, we also offer you the chance to create your own recipes.</dd>
                  </dl>
                  <dl>
                      <dt>Tailor made to your dietary and nutritional requirements</dt>
                      <dd>We offer recipes with ingredients to suit your palette. Whether you are a paleo, vegetarian, vegan, flexitarian, we have something just for you.</dd><br>
                      <dd>We also cater to Halal, Hindu and Kosher diets.
                      </dd>
                  </dl>
                  <dl>
                      <dt>Fresh, top of the line ingredients.</dt>
                      <dd>We source our ingredients from reputable sources and ensure stringent quality control.</dd>
                  </dl>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="http://static.squarespace.com/static/53a74098e4b0f3bbc3aa902b/53ce6978e4b0af5337c32252/53ce697ae4b0af5337c328b2/1378322416000/maddie-mae-photography-cooking-engagement-shoot-denver-engagement-photographer-colorado-wedding-photographer-denver-wedding-photographer-fort-collins-engagement-photographer-fort-collins-wedding-photographer-boulder-wedding-photographer-8.jpg?format=original" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</div>

  <div class="section" id="we-deliver">

    <h1> We Deliver </h1>
    <span class="headerLine"></span>

  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <div class="clearfix"></div>
                  <p class="lead">We deliver islandwide.<br>
                  </p>
                  <dl>
                      <dt>Our mission is to deliver fresh ingredients to your doorstep, so you don't have to.</dt>
                      <dd>We deliver to all postcodes in mainland Singapore and Sentosa Island. At this time we unfortunately do not deliver to SAF camps.</dd>
                  </dl>

                  <dl>
                      <dt>Delivery within two hours or it's on us!</dt>
                      <dd>We aim to deliver all orders within two hours failing which your order is free.</dd>
                  </dl>

                  <dl>
                      <dt>Free delivery on orders over S$50</dt>
                      <dd>That's right folks! Over 50 bucks and we waive our rider's cost!</dd>
                  </dl>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="http://www.grandmarosies.com/wp-content/uploads/2016/05/fruit-delivery.jpg" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</div>
