
<div class="hero-header-home">
  <div class="inner-text">
  <p class="p2">Mealed!</p>

  <div class="col-xs-8 col-xs-offset-2">
    <form class="new_search" action="/search" accept-charset="UTF-8" method="get">
      <div class="input-group search-meal-app">
              <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Filter by</span> <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                    <% @cuisine_list.each do |cuisine| %>
                       <li><a href="#<%= cuisine %>"><%= cuisine %></a></li>
                    <% end %>
                  </ul>
              </div>
              <input type="hidden" name="cuisine" value="all" id="search_param">
              <input type="text" class="form-control" name="query" placeholder="Search term...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
        </div>
      </form>
    </div>

  </div>

</div>

<ul class="tags-cuisines">
    <% @header_cuisine_list.each do |cuisine| %>
   <li><a href="/browse/cuisine/<%= cuisine %>"><%= cuisine %> </a></li>
<% end %>
 </ul>
