<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mealbox App</a>
    </div>
    <ul class="nav navbar-nav mealbox-nav">
      <li class="active"><a href="#">How it works</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Order</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
