<h1>Ingredients#index</h1>

<ul class="searchcontainer">
  <h2>Search Results</h2>
</ul>

<%= form_tag searchnutri_path, method: :post, remote: true, id: 'searchform' do %>
  <%= label_tag(:query, "Search for:")%>
  <%= text_field_tag(:query)%>
  <%= submit_tag("Search")%>
<% end %>

<br><br>
