<body>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>How we work.</h1>
                        <h3>Long busy days at work, no time to go shopping? Want to eat home cooked meals? We have you covered!</h3>
                        <hr class="intro-divider">

                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="page-content">
        <a name="services"></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Steps to making shopping passé and fresh home-cooked meals a reality!</h2>
                    <p class="lead">
                        Look no further than mealbox.</p>
                    <div class="col-md-3">
                        <div class="numberCircle">
                            <div class="height_fix"></div>
                            <div class="content">1</div>
                        </div>
                        <h3 >Sign Up</h3>
                        <p>Signing up is easy and it's free. Moreover, you do not need an account to view our pre designed starter meal plans.</p>
                    </div>
                    <div class="col-md-3">
                        <div class="numberCircle">
                            <div class="height_fix"></div>
                            <div class="content">2</div>
                        </div>
                        <h3>Choose Meals</h3>
                        <p>After you have completed the sign up formalities and you are ready to order the things you need for your week's grub, you can proceed to build your meal plan or pay as you go.Meal Plans are billed weekly</p>
                        <p>
                            You are given the option of upto three meals per day with a minimum of four meals in any one week. That's right we give you recipies and ingredients for your breakfast,lunch and dinner.
                        </p>
                    </div>

                    <div class="col-md-3">
                        <div class="numberCircle">
                            <div class="height_fix"></div>
                            <div class="content">3</div>
                        </div>
                        <h3>Get your Meal Box.</h3>
                        <p>
                            Our delivery concierge will in earnest endevour to deliver your weekly eal Box in two business days of your order.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="numberCircle">
                            <div class="height_fix"></div>
                            <div class="content">4</div>
                        </div>
                        <h3>Cook awesome, healthy food!</h3>
                        <p>
                            After you have signed off your goods, you are set for your week's meals for your entire family....and you didnt have to stand one minute at the checkout line!
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <!-- content-section-a -->

    <div class="content-section-a">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Our Meal Plans.</h2>
                <p class="lead">
                    We have a meal plan for every need and budget.</p>
                <dl>
                    <dt>Flexible Subscriptions</dt>
                    <dd>We offer pay as you go weekly meal plans to annual memberships.</dd>
                </dl>
                <dl>
                    <dt>Fits your schedule</dt>
                    <dd>We at mealbox realise how busy the 21st century adult(and child) is.That's why we are here DUH.
                    </dd>
                </dl>
                <dl>
                    <dt>Power to ya</dt>
                    <dd>You heard that right! At MealBox, you yeild the power to select one of our starter meal plans and design a meal plan of your own.
                    </dd>
                </dl>

            </div>

            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="http://c2.sharnyandjulius.com/wp-content/uploads/2015/11/customised-meal-plan-907x510.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Be your own chef!</h2>
                    <p class="lead">Choose from a wide array of Chinese,Malay,Indian and Western dishes.</p>
                    <dl>
                        <dt>Option to create your own recipie.</dt>
                        <dd>While we do have pre designed starter meal plans,with a wide variety of ingredients at your disposal, we also offer you the chance to create your own recipies.</dd>
                    </dl>
                    <dl>
                        <dt>Tailor made to your dietary and nutritional requirements</dt>
                        <dd>We offer recipies with ingredients to suit your palette. Whether you are a paleo, vegetarian, vegan, flexitarian we will have or will conjure up somtething.</dd><br>
                        <dd>We also cater to Halal, Hindu and Kosher diets.
                        </dd>
                    </dl>
                    <dl>
                        <dt>Fresh, top of the line ingredients.</dt>
                        <dd>We source our ingredients from reputable sources and ensure stringent quality control.</dd>
                    </dl>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://cook.gr/mycook/uploads/monthly_2015_08/cooking-woman.jpg.c7d461c4dcdbbca63f0d28472b8306a8.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">We Deliver!</h2>
                    <p class="lead">We deliver islandwide.<br>
                    </p>
                    <dl>
                        <dt>Our mission is to deliver to you to empower you to deliver fresh,home cooked meals to your family.</dt>
                        <dd>We deliver to all postcodes in mainland Singapore and Sentosa Island. At this time we unfortunately do not deliver to SAF camps</dd>
                    </dl>

                    <dl>
                        <dt>Delivery within 2 business days or it's on us!</dt>
                        <dd>We aim to deliver all orders within two business days failing which your order is free.</dd>
                    </dl>

                    <dl>
                        <dt>Free delivery on orders over S$50</dt>
                        <dd>That's right folks! Over 50 bucks and we waive our rider's cost!</dd>
                    </dl>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://www.grandmarosies.com/wp-content/uploads/2016/05/fruit-delivery.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://www.twitter.com" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Mealbox2000/" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook</span>
                            </a>
                        </li>
                        <li>

                            <a href="https://www.tumblr.com" class="btn btn-default btn-lg">
                               <i class="fa fa-tumblr fa-fw"></i>
                                <span class="network-name">Tumblr</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
</body>
