$button-padding: 0.5rem 1rem;
$font-size: 12px;             // 1 factor below base 16px in modular type scale
$button-bgcolor: #45BF55;     // the primary brand color
$button-border-width: 2px;    // border width for all form inputs
$button-color-hover: #45BF55; // the light/white brand color
$color-text-hover: #FFF;
$color-text: #FFF;


.button-standard{

padding: $button-padding;
font-size: $font-size;
background-color: $button-bgcolor;
border-width:$button-border-width;

a{
color: $color-text;
}

}







// @mixin mealbox-button-theme($color, $button-bgcolor) {
//     color: $color;
//     border-color: $color;
//     background-color: transparent;
//
//     &:hover {
//         color: $color-text;
//         background-color: $button-bgcolor;
//     }
// }
