$form-font: 'Source Sans Pro', sans-serif;
$form-font-size: 14px;

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.17em;
$h4-font-size: 1.12em;
$h5-font-size:.83em;
$h6-font-size: .75em;

$header-font-family: 'Oxygen', sans-serif;
$mealbox-orange: #F39200;
$mealbox-green: #36BA45;

$button-padding: 0.5rem 2rem;
$font-size: 14px;             // 1 factor below base 16px in modular type scale
$button-bgcolor: #45BF55;     // the primary brand color
$button-border-width: 0px;    // border width for all form inputs
$button-color-hover: #45BF55; // the light/white brand color
$color-text-hover: #FFF;
$color-text: #FFF;


.container.mealapp-form {
    max-width: 380px;
    margin: 0 auto;
}

span.glyphicon.glyphicon-search {
  color: $mealbox-orange;
}

.mealapp-form {

h2{
  font-family: $header-font-family;
  font-size: $h2-font-size;
  border-bottom:1px solid orange;
  padding-bottom:10px;

}

}

#edit-recipe h2 {
text-align: center;
text-transform: uppercase;
border-bottom:1px solid orange;
padding-bottom:10px;
max-width:200px;
margin: 0 auto;
}


.field{

label{
  font-family: $form-font;
  font-size: $form-font-size;
}


}

.search-panel .btn-default.dropdown-toggle {
  background: #36BA45; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56ab2f , #36BA45); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #56ab2f , #36BA45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#fff;
}

/*search form */

.input-group.search-meal-app {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 0px;
}



/* recipe maker */

/*form styles*/
#msform {
	max-width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	max-width: 30%;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

#progressbar li.active {
    opacity: 0.9;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: orange;
	text-transform: uppercase;
	font-size: 9px;
  opacity:0;
width: 24.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: orange;
	border-radius: 9px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -48%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

/* transactions */

#new_transaction input[type=text] {
	width: 95%;
	padding: 12px 20px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
	text-align: left;
}

#new_transaction label{
font-family: $header-font-family;
}

a.buy-recipe-btn {
    padding: 1rem 2rem;
    font-size: 14px;
    background-color: #F39200;
    border-width: 0px;
    border-radius: 10px;
    top: 10px;
    z-index: 5;
    right: 40px;
    position: relative;
    color: #fff !important;
    text-decoration: none;
    float: right;
}


#new_transaction input[type=text]:focus {
	border: 1px solid #a8a8a8;
}

#new_transaction input[type=submit],
#new_transaction input[type=button] {
	float: right;
  color:#fff;
	margin: 20px 20px 10px 0px;
}

#new_transaction input[type=submit], #new_transaction input[type=button]{
  padding: $button-padding;
  font-size: $font-size;
  background-color: $button-bgcolor;
  border-width:$button-border-width;
  border-radius:10px;
}

#new_transaction {
    border-radius: 5px;
    padding: 20px 20px;
    float: none;
    margin: 0 auto;
  }

.panel.panel-default.credit-card-box {
    border: 0px;
}

.order-date-time .col-md-6 {
    padding-left: 0px;
}

h3.panel-title.display-td {
    margin-bottom: 10px;
}

.panel-heading.display-table {
    border-bottom: 0px;
}
