
$circle-padding: 1rem 2rem;
$font-size: 1.2rem;             // 1 factor below base 16px in modular type scale
$circle-bgcolor: #45BF55;     // the primary brand color   // border width for all form inputs// the light/white brand color
$color-text-hover: #FFF;
$color-text: #FFF;
$mealbox-orange: #F39200;
$mealbox-green: #36BA45;
$white: #FFF;
$uppercase: uppercase;
$base-font-family: 'Oxygen', sans-serif;


span.add-recipe-btn i {
    margin-right: 5px;
}
span.add-recipe-btn {
    float: right;
    display: block;
    margin-top: -30px;
    position: relative;
    right: 40px;
}

span.add-recipe-btn a {
    color: #000;
    font-family: $base-font-family;
    text-decoration: none;
}

span.edit-recipe-btn a {
    font-family: $base-font-family;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.caption span.edit-recipe-btn {
    margin-left: 0px;
    position: relative;
    margin-top: -29px;
    float:right;
    margin-left:30px;
}

.caption span.edit-recipe-btn a {
    font-size: 13px;
}

.caption span.edit-recipe-btn i.fa.fa-pencil-square-o:before {font-size:13px;}

i.fa.fa-pencil-square-o:before {
    margin-right: 5px;
    font-size: 26px;
}

.recipe-all {
    padding: 20px;
}

.holderqtyandplus {
    position: relative;
    top: -13px;
    left: -22px;
}

.recipemaker-panel.col-md-3 {
    margin-left: 0px;
    padding-right: 10px;
    margin-right: 0px;
}

.input-group.recipemaker-area-filter {
    display: block;
        margin-left: -2px;
}

.recipemaker-area-filter .col-md-4 {
    margin-left: 0px !important;
    padding-left: 0px;
}


.show-recipe-servings{
    float: right;
    background: #fff;
text-align:center;
    padding: 5px 13px;
    max-width: 50%;
}

 .show-recipe-views {
    float: right;
    background: #fff;
    text-align: center;
    border-left: 3px solid $mealbox-orange;
    padding: 5px 13px;
}


ul.ingredients label {
    font-weight: normal;
    float: none;
}

.ing-delete{
  color:red;
  font-size:10px;
  position:relative;
  right:0px;
  font-weight:normal;
}

.ingredients em {
    color: $mealbox-orange;
    margin-left: 5px;
}

.recipe-cuisine {
    position: absolute;
    color: $color-text;
    background: $mealbox-green;
    top: 0px;
    right: 16px;
    padding: 10px;
}



a.view-recipe-btn {
  background-color: $mealbox-orange !important;
  color: $white;
  text-transform: $uppercase
}

.recipe-all h3{
font-family: $base-font-family;
margin-top:10px;
}



.recipe-views {
    position: absolute;
    right: 0px;
    background: rgba(0,0,0,0.5);
    font-size: 1.2rem;
    border-radius: 20%;
    padding: 18px;
    margin-top: -27px;
    text-align: center;
    color: #fff;



    span.views-icon {
        display: block;
        text-align: center;
        font-size: 20px;
    }

}

.recipe-thumb {
    padding: 0px;
    border-radius: 0px;
    border-color: transparent;

    .caption{
      background: #ececec;
      padding-left: 20px;
    }
}

#other-recipes {
    padding-left: 10px;
    padding-right: 10px;
}

#ribbon {
    padding: 0.34em 1em;
    margin: 0;
    margin-top: -29px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    background: $mealbox-green;
    display: inline-block;
}

#ribbon:before{
		content: "";
		width:.2em;
		bottom:-.2em;
		position:absolute;
		display:block;
		border: .9em solid $mealbox-green;
		box-shadow:0px 1px 0px rgba(0,0,0,0.4);
		z-index:-2;
	}

#ribbon:before {
		left:-1.35em;
		border-right-width: .75em;
		border-left-color:transparent;
	}


#content-cuisine:before {
		content:"";
		bottom:-.5em;
		position:absolute;
		display:block;
		border-style:solid;
		border-color: $mealbox-green transparent transparent transparent;
		z-index:-1;
	}

#content-cuisine:before {
	  left: 0;
	  border-width: .5em 0 0 .5em;
	}


/* clear fix */
.masonry-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}

.grid-item img:hover{
}


@media only screen and (max-width:1024px){

  .grid-sizer,
  .grid-item {
    width: 30%;
  }

}


@media only screen and (max-width: 40em) /* 640px */
{
    .masonry-container
    {
        width: 100%;
        margin-left: 0;
    }
        .grid-item
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
}

.tags-cuisines:before, .tags-cuisines:after {
  content: '';
  display: table;
}

.tags-cuisines:after {
  clear: both;
}


.tags-cuisines {
  padding:10px;
  margin: 0 auto;
  text-align: center;
background: #36BA45; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #56ab2f , #36BA45); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #56ab2f , #36BA45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

a{
  height: auto;
      line-height: 2px;
      padding: 15px 30px;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

}

li {
    margin: 0 0 0px 12px;
    list-style-type: none;
    vertical-align: middle;
    float: none;
    display: inline-block;
    text-align: center;
    right:20px;


}


      }


      ul.ingredients {

        li {
            list-style-type: none;

&:nth-child(odd) {
background-color: #eee;
}

        }

        padding-left:0px;



      }

      .recipe-details h2 {
    text-align: left;
    font-size: 4em;
    margin-left:8px;
    margin-top: 0px;
}

#creation-recipe {
    min-height: 460px;

   ul {
     list-style: none;
   }
}

.select-picker.ingredientselect {
    margin-top: 13px;
    margin-left: -30px !important;
}

.dropup .dropdown-menu{bottom: auto;}

.quantitybox {
    top: -3px;
}

span.input-group-btn.add-ingredient-plus {
    float: left;
    top: 13px;
    left: -15px;
}

#quantity {
    padding: 7px 2px !important;
    top: 16px;
    position: relative;
}


.input-group-btn.recipemaker-panel {
    position: relative;
    top: 7px;
}

.input-group.recipemaker-area-filter {
    margin-bottom: 20px;
    margin-left:28px;
}

.panel-heading.display-table {
    border-bottom: 0px;
    margin-top: 21px;
    background: transparent;
}

.panel.panel-default.credit-card-box {
    border: 0px;
    background: transparent;
    box-shadow: none;
}



/* recipe card */

.card-container {
  margin: 25px auto 0;
  position: relative;
  max-width: 1024px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.card-body {
    display: block;
}

@media screen and (max-width:1024px){

  .card-media {
      background-size: contain;
      max-width: 100%;
  }

  .card-body {
      display: block;
      float: none;
      max-width: 100%;
  }
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  padding-left: 19px;
border-left: 2px solid orange;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
    background-size: cover;
    max-width: 100%;
}

.card-shadow {
  background-color: #fff;
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

span.subtle.card-category a {
  text-decoration:none;
  color: $mealbox-green;
}

span.subtle.card-category {
    position: relative;
    z-index: 2;
}

ul.ingredients {
    height: 195px;
    overflow-x: scroll;
}

span.per {
    display: block;
}

a.fa.fa-trash-o {
    font: normal normal normal 14px/1 FontAwesome !important;
    color:red;
}

.instructionbox{
  font-family: $base-font-family;
}

.ingredientbox{
    font-family: $base-font-family;
}

.col-md-6.instructionbox h5, .col-md-6.ingredientbox h5 {
    border-left: 1px solid orange;
    padding-left: 10px;
}

.more-from-cuisine h2 {
    margin-left: 16px;
    border-left: 2px solid orange;
    padding-left: 10px;
}

.more-from-cuisine {
  font-family: $base-font-family;
}

#edit-recipe h2.card-title {
    text-align: left !important;
    max-width: 100%;
    padding-left: 45px;
    border: 0;
}

#edit-recipe h2.card-title input {
    border: 1px solid #ececec;
}

.saverecipe-btn{
  margin-top:20px;
  padding: 0.5rem 2rem;
    font-size: 14px;
    background-color: #F39200;
    border-width: 0px;
    border-radius: 10px;
    top: -10px;
    position: relative;
    color: #fff !important;
    text-decoration: none;
}

h2.order-detail-title{
  margin:0 auto;
  text-align:center;
  padding-bottom: 20px;
}

.hold-orders {
    max-width: 1024px;
    margin: 0 auto;
}


.snip1268 {
  position: relative;
  overflow: hidden;
  line-height: 1.6em;
}
.snip1268 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.snip1268 .image {
  position: relative;
  background-color:black;
}
.snip1268 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.snip1268 .icons,
.snip1268 .view-recipe{
  position: absolute;
  left: 20px;
  right: 20px;
  opacity: 0;
}

.snip1268 .view-recipe {
    padding: 10px 5px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    max-width: 27%;
    padding-left: 14px;
    font-size: 0.8em;
    right: 20px;
    color: #fff;
    background-color: #F39200;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}


.snip1268 .icons {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 20px;
  display: flex;
  justify-content: space-between;
}
.snip1268 .icons a {
  width: 32.5%;
}


.snip1268 .icons i {
  line-height: 46px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  opacity: 0.7;
  margin: 0;
}

.snip1268 .view-recipe:hover {
  background: $mealbox-green;
  color: #ffffff;
}
.snip1268 figcaption {
  padding: 20px 20px 30px;
}
.snip1268 h2,
.snip1268 p {
  margin: 0;
  text-align: left;
}
.snip1268 h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
.snip1268 p {
  margin-bottom: 15px;
  font-size: 0.85em;
  font-weight: 500;
}
.snip1268 .price {
  font-size: 1.3em;
  opacity: 0.5;
  font-weight: 700;
  text-align: right;
}
.snip1268:hover img{
  opacity: 0.6;
}
.snip1268:hover .icons,
.snip1268:hover .view-recipe{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
