// Font weights
$light: 100;
$regular: 400;
$bold: 600;
$margin-auto: auto;
$button-bgcolor: #45BF55;

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.17em;
$h4-font-size: 1.12em;
$h5-font-size:.83em;
$h6-font-size: .75em;
// Base Font
$base-font-family: 'Oxygen', sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

$mealbox-orange: #F39200;
$mealbox-green: #36BA45;

// Headings
$header-font-family:  'Source Sans Pro', sans-serif;
$header-font-weight: $bold;

$exo2: 'Exo 2', sans-serif;

$text-shadows: 2px 2px 3px rgba(0, 0, 0, 0.6);

$center: center;

h3{font-size: $h3-font-size;}

h3,dd,dt{font-family: $base-font-family;}

.section h1 {font-size: $h1-font-size; font-family: $exo2; text-align: $center; padding-top: 10px;
    padding-bottom: 10px; }

.hero-header-home {
       width: 100%;
       height: 56vh;
       background-image: url(https://static.pexels.com/photos/62097/pexels-photo-62097.jpeg);
       background-size: cover;
       background-position: center;
       margin-top:-60px;

       .tagline{
         font-size:15px;
         color: white;
       }
   }

   .inner-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  margin: 0 auto;
  text-align:center;
}


.p2 {
  display: inline-block;
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #fff;
  @media only screen and (max-width: 465px) {
    position: relative;
    top: -0.4em;
    font-size:1em;
  }
}


#tabs {
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
    /* min-height: 200px; */
    /* max-height: 600px; */
    overflow: hidden;
}

ul#accordion-how-it-works {
  position: relative;
  display: block;
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
  width: 60%;

    li:focus {
    outline: none;
  }

  li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #3b3b3b;
    padding: 20px 5px;
    z-index: 1;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }


 a:focus {
   outline: none;
 }

 a:active{
  opacity: 1;

 }

}


ul#accordion-how-it-works li:nth-child(1) a {
  border-top: none;
}


.para-a {
  font-weight: bold;
  margin-top: 5px;
  padding: 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0px;
  border: none;
  color: $mealbox-orange !important;
}

.tag {
  position: relative;
  width: 100%;
}

.icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: $button-bgcolor;
  border-radius: 100%;
  vertical-align: middle;
}

.block.howitworks {
  position: absolute;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  padding: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
  vertical-align: middle;
  color:#000;
}

.addon {
    position: relative;
    width: 100%;
    top: -15px;
    margin-left: 15px;
    letter-spacing: 0;
    font-size: 13px;
    color: #9b9b9b;
    font-family: $base-font-family;
}

.browser {
  width: 45%;
  height: 95%;
  position: absolute;
  border-color: #7b7b7b transparent #7b7b7b #7b7b7b;
  right: 0;
  overflow: hidden;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background: #fff;
  z-index: 2;
}

.dot {
  position: relative;
  display: inline-block;
  padding: 4px;
  background: #c7c7c7;
  border-radius: 100%;
}

.dot:nth-child(1) {
  margin-left: 7px;
}

#tabs-1, #tabs-2, #tabs-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#tabs-1 {
  background: #9b9b9b;
}

#tabs-2 {
  background: #c9c9c9;
}

#tabs-3 {
  background: #1b1b1b;
}


/* how it works */
.intro-header {
  padding-top: 20px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 20px;
  text-align: center;
  color: #f8f8f8;
  background: url(http://i.imgur.com/68Dx8Dc.jpg) no-repeat center center;
  background-size: cover;
  min-height: 200px !important;
  margin-top: -60px;
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 5em;
  }
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 17px;
  max-width: 460px;
  margin: 0 auto;
  font-family: $base-font-family;
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
    > h1 {
      font-size: 3em;
    }
  }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(images/banner-carrot.jpg) no-repeat center center;
  background-size: cover;
  h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul {
    margin-bottom: 0;
  }
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.numberCircle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #45BF55;
  border-radius: 100%;
  vertical-align: middle;


  .height_fix {
    margin-top: 100%;
  }
  .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    /* Note, this must be half the font size */
  }
}

.steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    display: inline;
    float: none;
  }
}


.map {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.col-lg-6.socialbars {
  margin-top: 8px;
}
