// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#alling {
  margin-left: 330px;
  display: inline-block;
  margin-bottom: 60px;
}

#newing {
  margin-right: 330px;
  color: white;
  font-size: 17px;
  float: right;
  margin-bottom: 40px;
  margin-top: 28px;
  background-color: #F39200;
  width: 170px;
  height: 30px;
  padding-left: 28px;
  padding-top: 3px;
  border-radius: 10px;
}



#ingtable {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
